.light-theme {
    ---gray-900: #31374a;
    
    --body-bg: #f5f7fa;
    --body-color: #31374a;

    --logo-text-color: #6e7891;
    --theme-control-toggle-bg-color: rgba(255, 204, 133, 0.24);
    --theme-control-toggle-hover-bg-color: #e5780b;
    --theme-control-toggle-color: #e5780b;
    --theme-control-toggle-hover-color: #fff6e0;
    --input-border-color: #cbd0dd;

    --navbar-top-bg-color: #fff;
    --navbar-top-link-color: var(--gray-900);
    --navbar-top-menu-bg-color: #fff;
    --navbar-top-border-color: #cbd0dd;
    --navbar-top-link-hover-color: #222834;
    --navbar-top-link-hover-bg: #eff2f6;
    // --navbar-top-link-active-color: var(--primary);
    
    // --navbar-top-link-active-color: var(--primary);

    --input-bg: #fff;
    --input-border-color: #cbd0dd;

    --dropdown-color: #525b75;
    --dropdown-bg: #fff;
    --dropdown-hover-bg: #eff2f6;
    --dropdown-border-color: #cbd0dd;
    --dropdown-divider-bg: #cbd0dd;
    --dropdown-link-color: #525b75;
    --dropdown-link-hover-color: #292e3b;
    --dropdown-link-hover-bg: #e3e6ed;
    --dropdown-link-active-color: #000000;
    --dropdown-link-active-bg: #3874ff;
    --dropdown-link-disabled-color: #eff2f6;
    --dropdown-header-color: #6e7891;

    --filter-panel-bg: #f5f7fa;
    --filter-panel-border: #cbd0dd;

    .text-500 {
        color: rgb(138, 148, 173);
    }
    .text-900 {
        color: rgb(49, 55, 74)
    }
    .text-1100 {
        color: rgb(20, 24, 36);
    }

    --navbar-top-logo-text-color: #6e7891;
    --navbar-top-bg-color: #ffffff;
    --navbar-top-link-color: #31374a;
    --navbar-top-link-hover-color: #31374a;
    --navbar-top-link-active-color: #3874ff;
    --navbar-top-logo-color: #eff2f6;
    --navbar-top-bg-hover-color: #eff2f6;

    --navbar-vertical-bg-color: white;
    --navbar-vertical-link-color: #31374a;
    --navbar-vertical-label-color: #31374a;
    --navbar-vertical-link-hover-color: #3e465b;
    --navbar-vertical-link-active-color: #3e465b;
    --navbar-vertical-link-hover-bg-color: #eff2f6;
    --navbar-vertical-link-disable-color: #8a94ad;
    --navbar-vertical-link-icon-color: #9399a9;
    --navbar-vertical-collapse-menu-bg-color: #ffffff;
    --navbar-vertical-collapse-menu-border-color: #cbd0dd;
    --navbar-vertical-border-color: #cbd0dd;

    --body-color: #f5f7fa;
    --heading-color: #141824;
    --bg-color: #f5f7fa;
    --border-color: #e3e6ed;

    --btn-bg-color: #3874ff;
    --btn-color: #fff;
    --btn-border-color: rgba(0, 0, 0, 0.25);
    --btn-hover-bg-color: #004dff;
    --btn-hover-color: #fff;

    --setting-panel-item-bg-color: #f5f7fa;

    --setting-panel-bg-color: white;
    --setting-panel-heading-color: #141824;
    --setting-panel-text-color: #31374a;
    --setting-panel-toggle-button-bg-color: white;
    --setting-panel-toggle-button-border-color: #e3e6ed;
    --setting-panel-toggle-button-color: #6e758b;

    --setting-panel-btn-bg-color: #f5f7fa;
    --setting-panel-btn-bg-hover-color: #e3e6ed;
    --setting-panel-btn-color: #31374a;
    --setting-panel-btn-hover-color: #222834;
    --setting-panel-btn-border-color: #e3e6ed;
    --setting-panel-btn-hover-border-color: #e6e9ef;

    --setting-panel-btn-active-border-color: #3874ff;
}